<!-- Loop over each object in the projects array -->

<head>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

{{#each games as |game|}}
<div class="containter p-2">
<div class="card mx-auto" style="width: 70rem;">
  <div class="card-body">
    <h5 class="card-title">Story {{game.game_name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Name of Game</h6>
    <p class="card-text">Author Id: {{game.author_id}}</p>
    <p class="card-text"> Created on {{game.date_created}}</p>
    <h6 class="card-text">Preview of story</h6>
    <p class="card-text">{{game.description}}</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

</div>

{{/each}}



