<!-- Loop over each object in the projects array -->


<div class="container">
  <div class="row">

    {{#each games as |game|}}
      <div class="card col-12 my-2">
        <div class="card-body">
          <h5 class="card-title">Story {{game.game_name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Name of Game</h6>
          <p class="card-text">Author Name: {{game.user.name}}</p>
          <p class="card-text"> Created on {{game.date_created}}</p>
          <h6 class="card-text">Preview of story</h6>
          <p class="card-text">{{game.description}}</p>
          <a href="#" class="card-link">Add Chapter</a>
          <a href="#" class="card-link">Delete Previous Chapter</a>
        </div>
      </div>


    {{/each}}

    <div class="col d-flex justify-content-end align-items-end my-5">
      <button class="btn btn-primary" type="button">
        Add Story
      </button>
    </div>
  </div>
</div>